<header
  style="background-image: linear-gradient(90deg, {{group.color}}, {{group.color}}"
  class="detailHeader"
>
  <a href="/groups">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <h1>{{group.name}}</h1>
</header>
<main class="groupDetail">
  <section>
    <img src="/images/{{group.image}}" alt="" />
    <article>
      <p>{{group.description}}</p>
    </article>
    {{#if submitted}}
      <div class="toggle">
        <h3>Notificaties</h3>
        <input type="checkbox" id={{name}} />
        <label for={{name}}>Toggle</label>
      </div>
      <div id="noDivider" class="members">
        <h3>Leden</h3>
        <ul>
          {{#each group.members}}
            <li>
              <img src="/images/{{avatar}}" alt="" />
              <p>{{name}}</p>
            </li>
          {{/each}}
        </ul>
        <div class="hidden" id="showAllMembers">
          <h3 id="showMore">Laat alle zien </h3>
          <p>({{group.members.length}})</p>
          <i class="fa-solid fa-caret-down"></i>
        </div>

      </div>
      <form action="/groups/signoff" method="post">
        <label for="afmelden">Meld je af van deze groep</label>
        <button id="afmelden" name="afmelden" value="{{group.id}}">
          Afmelden
        </button>
      </form>
    {{else}}
      <div class="members">
        <h3>Leden</h3>
        <p>Abonneer je op deze groep om groepsleden te bekijken</p>
      </div>
      <form action="/groups/signup" method="post">
        <label class="signUpForGroup" for="aanmelden">
          Word lid van deze groep
        </label>
        <button id="aanmelden" name="aanmelden" value={{group.id}}>
          Aanmelden
        </button>
        <p class="alreadyMember">{{group.members.length}}
          bewoners gingen je voor</p>
      </form>
    {{/if}}
  </section>
</main>