<header>
  <h1>Prikbord</h1>
  <img src="/images/{{user.avatar}}" alt="profielfoto" />
</header>
<section class="loading">
  <span class="loadingSpan">
    <div>
      <svg
        id="can"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 343.52 255.72"
      ><g id="Laag_1-2"><path
            d="m162.48,148.21c-3.77-2.58-6.29-4.37-8.88-6.07-6.13-4.01-12.32-7.94-18.44-11.97-5.63-3.71-6.93-7.32-3.59-13.04,2.51-4.29,1.81-6.81-1.62-10.19-15.5-15.27-19.63-38.25-11.05-59.14,7.77-18.91,27.99-32.65,48.68-32.75,5.47-.03,11.02.44,16.24,2.4,3.26,1.23,5.15.22,6.86-2.75,4.31-7.48,7.29-8.23,15.04-4.35,4.02,2.01,8.12,3.9,12.01,6.15,3.58,2.07,5.68,2,8.49-1.85,8.61-11.83,20.68-16.59,35.05-13.95,12.97,2.38,21.83,10.31,26.26,22.73,2.7,7.57,3.05,15.41,0,23-1.53,3.81-.5,5.68,3.01,7.44,15.34,7.68,30.57,15.58,45.84,23.4,7.78,3.98,8.97,8.09,4.61,15.65-21.77,37.82-43.55,75.64-65.29,113.48-4.54,7.9-8.46,9.02-16.23,4.08-14.62-9.29-29.2-18.63-43.69-28.14-2.81-1.84-5.34-2.08-8.43-1.23-16.54,4.55-33.08,9.13-49.69,13.39-4.72,1.21-6.7,3.48-7.4,8.41-1.72,12.2-7.14,22.48-17.98,29.19-8.22,5.1-13.3,3.43-16.58-5.52-8.09-22.04-16.14-44.11-24.11-66.2-3.04-8.43-.68-12.66,8.09-14.34,10.76-2.07,20.53.8,29.31,6.98,3.02,2.13,5.74,2.74,9.27,1.7,7.58-2.23,15.25-4.14,24.2-6.53Zm160.9-57.74c-.39-2.16-2.3-2.42-3.67-3.13-37.34-19.15-74.74-38.2-112.03-57.46-4.04-2.08-6.15-1.5-8.36,2.37-15.71,27.47-31.48,54.9-47.46,82.21-2.52,4.3-1.33,6.26,2.46,8.64,13.7,8.56,27.22,17.41,40.79,26.17,21.55,13.91,43.11,27.81,64.61,41.8,2.72,1.77,4.44,2.17,6.33-1.12,18.59-32.34,37.3-64.62,55.97-96.91.5-.86.93-1.76,1.36-2.57ZM168.64,31.67c-15.25.33-26.87,7.27-33.74,20.84-6.92,13.67-5.05,27.12,3.77,39.56,3.52,4.97,4.39,4.88,7.39-.32,9.57-16.57,19.14-33.14,28.64-49.75,1.52-2.66,5.03-5.4,3.39-8.32-1.76-3.14-6.12-1.39-9.45-2.01Zm-34.32,164.1c-.17-14.48-8.41-27.52-19.7-32.08-1.18-.47-2.48-1.53-3.68-.37-.78.76-.12,1.88.22,2.8,5.38,14.69,10.76,29.38,16.15,44.07.33.89.43,2.18,1.68,2.14,1.13-.04,1.43-1.27,1.9-2.11,2.68-4.79,3.55-9.99,3.43-14.46ZM253.74,16.76c-5.07-.4-9.33,2.28-13.05,6.16-2.45,2.56-2.24,4.38,1.16,6.05,8.38,4.1,16.75,8.25,24.91,12.77,4.08,2.26,5.31.64,6.05-3.02,2.35-11.65-6.38-22.04-19.07-21.96Zm-60.06,150.97c-5.87-2.51-8.8-8.06-14.62-6.71-10.35,2.39-20.57,5.32-30.83,8.07-1.07.29-2.37.42-2.73,1.82-.96,3.68,4.24,8.76,7.95,7.78,9.31-2.46,18.62-4.91,27.92-7.41,3.62-.97,7.21-2.07,12.31-3.55Z"
          ></path></g>
      </svg>
      <svg
        id="waterdrops"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 343.52 255.72"
      >
        <g><path
            d="m50.79,214.87c4.72-.08,8.33,3.23,8.54,7.85.21,4.55-3.3,8.2-7.97,8.28-4.63.08-8.31-3.48-8.28-8,.03-4.41,3.5-8.07,7.71-8.14Z"
          ></path><path
            d="m82.11,191.8c-.02,4.59-3.73,8.2-8.27,8.07-4.9-.14-7.97-3.4-7.85-8.32.11-4.55,3.85-8.05,8.43-7.88,4.36.16,7.71,3.71,7.69,8.14Z"
          ></path><path
            d="m73.46,214.37c.26-4.6,4.13-8.02,8.74-7.73,4.51.29,7.51,3.75,7.32,8.44-.18,4.66-4.01,8.13-8.58,7.78-4.29-.33-7.72-4.23-7.48-8.49Z"
          ></path><path
            d="m16.16,229.97c.11,4.35-3.36,7.9-7.83,8.03-4.99.14-8.25-2.95-8.33-7.89-.08-4.69,3.44-8.22,8.18-8.21,4.17.01,7.87,3.75,7.98,8.06Z"
          ></path></g>
      </svg>
      <svg
        id="flower"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 79.17 112.8"
      ><g id="Laag_1-2"><path
            d="m44.77,82.32c2.03-1.54,3.28-3.29,3.68-5.79.8-4.99,3.13-9.14,7.58-11.83,3.34-2.02,7.04-2.47,10.87-2.24.88.05,1.76.09,2.63.23,1.21.19,1.8.89,1.71,2.06-.34,4.18-1.49,8.08-4.05,11.49-2.53,3.37-5.99,5.05-10.07,5.67-1.83.28-3.67.23-5.51.2-.95-.02-1.7.28-2.32,1.01-1.41,1.63-2.86,3.23-4.29,4.85-.49.55-.78,1.17-.8,1.95-.14,5.91-.27,11.83-.47,17.74-.04,1.16.32,1.6,1.48,1.49.79-.08,1.6-.04,2.4.02,1.04.09,1.77.63,1.8,1.72.03,1.04-.63,1.6-1.62,1.75-.55.08-1.11.14-1.67.14-4.68.01-9.36.01-14.04,0-.6,0-1.2-.05-1.78-.18-.91-.2-1.53-.77-1.5-1.75.03-.99.71-1.53,1.62-1.64.91-.11,1.84-.11,2.75-.06,1.01.05,1.33-.39,1.34-1.35.01-2.44.09-4.87.18-7.31.19-4.83.21-9.67.33-14.51.02-.99-.2-1.86-.71-2.73-2.06-3.54-4.55-6.76-7.2-9.87-1.03-1.21-2.28-1.15-3.6-1.02-3.56.35-7.02-.16-10.39-1.3-5.08-1.73-8.48-5.25-10.63-10.1C1.1,57.82.47,54.49.02,51.11c-.14-1.1.4-1.95,1.5-2.1,6.72-.92,13.21-.53,18.85,3.79,3.4,2.6,5.3,6.23,6.52,10.26.06.19.13.38.15.58.37,4.65,2.85,8.2,5.95,11.43.71.75,1.35,1.57,2.27,2.65,1.13-8.93,2.23-17.56,3.33-26.23-.76,0-1.25.39-1.78.62-1.73.74-3.51,1.09-5.38.67-3.87-.88-6.02-4.66-4.93-8.61.52-1.87,1.51-3.52,2.45-5.19.4-.7.25-.94-.5-1.11-1.44-.33-2.89-.65-4.23-1.31-2.77-1.35-4.78-3.33-4.79-6.6,0-3.29,1.96-5.37,4.77-6.76,1.26-.62,2.61-1.04,3.99-1.25,1-.15,1.24-.41.58-1.31-1.21-1.64-1.85-3.54-2.28-5.5-1.19-5.41,3.27-9.54,8.59-7.99,1.78.52,3.41,1.38,5.04,2.21.7.36.96.33,1.18-.55.49-1.9,1.17-3.75,2.19-5.43,2.56-4.22,8.03-4.54,11.12-.67,1.44,1.8,2.18,3.9,2.56,6.13.15.88.41,1.18,1.3.66,1.38-.8,2.77-1.61,4.29-2.13,2.64-.92,5.15-.77,7.31,1.15,2.21,1.96,2.63,4.48,1.91,7.24-.44,1.68-1.37,3.15-2.15,4.68-.63,1.22-.66,1.23.73,1.53,2.39.53,4.56,1.51,6.37,3.17,3.29,3.04,2.9,7.75-.83,10.27-1.86,1.25-4.02,1.76-6.09,2.47-.74.25-.76.48-.39,1.06.81,1.28,1.58,2.6,2.13,4.02,1.36,3.58.32,7.22-2.61,9-2.2,1.34-4.52,1.19-6.81.3-1.26-.49-2.48-1.12-3.67-1.77-.89-.49-1.31-.44-1.51.68-.36,1.98-1.15,3.82-2.28,5.5-1.66,2.47-4.05,3.27-6.89,2.87-.84-.12-1.08.1-1.21.92-.9,5.93-1.55,11.89-1.84,17.88-.06,1.27-.38,2.53-.15,3.97ZM68.61,14.33c.06-2.76-1.04-3.83-3.29-3.75-1.23.04-2.37.35-3.38,1.06-1.34.94-2.66,1.91-3.99,2.87-.79.57-1.49,1.44-2.65,1-1.21-.46-1.14-1.62-1.33-2.62-.03-.16-.02-.32-.04-.48-.38-2.24-.56-4.53-1.51-6.64-.6-1.32-1.63-2.06-3.1-2.07-1.52-.01-2.57.75-3.21,2.1-.52,1.1-.73,2.28-.94,3.46-.28,1.57-.49,3.16-.89,4.71-.39,1.53-1.5,1.92-2.86,1.1-.61-.37-1.17-.83-1.72-1.29-1.61-1.35-3.32-2.53-5.36-3.1-1.34-.38-2.63-.11-3.69.85-1,.91-.94,2.05-.55,3.21.69,2.06,1.58,4.01,3.08,5.64.49.53.97,1.08,1.34,1.69.79,1.31.33,2.49-1.14,2.86-.84.21-1.74.25-2.61.33-2.05.19-4.04.57-5.82,1.69-2.47,1.56-2.51,4.21-.09,5.84.8.54,1.68.9,2.65,1.04,1.7.26,3.4.5,5.08.85,2.54.52,2.96,1.84,1.29,3.87-.28.34-.58.66-.86,1-1.24,1.54-2.15,3.26-2.82,5.12-.47,1.31-.6,2.62.45,3.71,1.08,1.13,2.46.97,3.82.64,1.71-.42,3.13-1.38,4.48-2.47.75-.6,1.49-1.22,2.3-1.73,1.71-1.07,2.8-.57,3.16,1.42.13.75.15,1.51.27,2.26.3,1.9.7,3.79,1.59,5.51,1.39,2.71,4.23,2.84,5.9.3.71-1.08,1.14-2.28,1.31-3.57.21-1.54.39-3.09.69-4.62.36-1.8,1.34-2.23,2.97-1.4.38.2.7.52,1.04.8,1.87,1.59,3.77,3.12,6.25,3.64,3.03.63,4.82-1.3,4.03-4.31-.45-1.69-1.32-3.16-2.4-4.52-.72-.91-1.48-1.8-2.08-2.78-.74-1.23-.37-2.11.95-2.67.8-.34,1.65-.26,2.48-.33,2.17-.16,4.29-.54,6.18-1.71,2.59-1.61,2.5-4.54-.17-6.03-1.35-.75-2.81-1.12-4.33-1.3-1.15-.13-2.3-.27-3.44-.49-1.98-.37-2.48-1.45-1.44-3.17.39-.64.97-1.16,1.44-1.76,1.48-1.86,2.82-3.79,2.99-5.77Zm-46.54,54.17c-3.18-2.79-6.41-5.21-9.58-7.7-.31-.25-.64-.49-.88-.8-.52-.67-.57-1.41-.04-2.1.51-.67,1.2-.91,2.02-.59.72.28,1.31.76,1.91,1.23,2.37,1.83,4.74,3.67,7.12,5.48.22.17.38.54.86.34-.9-3.46-2.49-6.47-5.33-8.72-4-3.17-8.68-3.57-13.53-3.27-.78.05-.75.56-.64,1.12.35,1.72.77,3.43,1.4,5.08,2.69,7.04,8.94,10.8,16.7,9.92Zm19.98-14.25c-.08.36-.16.7-.23,1.06-1.67,9.54-2.58,19.17-3.11,28.83-.43,7.91-.61,15.82-.59,23.74,0,.59-.06,1.13.81,1.12.74-.01,1.1-.25,1.11-1.04.03-1.52.15-3.03.18-4.55.12-7.19.29-14.39.72-21.57.42-7.03,1.13-14.02,2.12-20.98.32-2.26,1.14-4.61-1.02-6.59Zm10.79,19.96c.09.06.18.12.26.18,1.94-1.46,3.87-2.94,5.82-4.38,1.28-.95,2.36-.93,3.05.02.66.91.33,1.89-.9,2.83-2.06,1.58-4.1,3.18-6.14,4.79-.23.18-.6.27-.57.7.12.03.22.09.34.09,5.92.37,12.33-5.39,12.64-11.34.04-.82-.32-1.02-1.04-1.07-3.71-.28-7.05.72-9.98,2.99-1.72,1.34-3.03,3-3.48,5.19Z"
          ></path><path
            d="m49.19,39.2c-5.14-.01-9.33-4.17-9.36-9.28-.03-5.11,4.37-9.53,9.48-9.5,5.08.03,9.31,4.35,9.31,9.5,0,5.2-4.16,9.29-9.43,9.28Zm.03-3.65c3.32.02,5.73-2.33,5.74-5.59.01-3.29-2.46-5.84-5.68-5.87-3.15-.03-5.8,2.62-5.79,5.8,0,3.21,2.46,5.65,5.73,5.66Z"
          ></path></g>
      </svg>
    </div>
    <h1>Berichten Laden...</h1>
  </span>
</section>

<main class="prikbord hidden">
  <button class="hidden" id="newMessage">Nieuw bericht
    <i class="fa-solid fa-arrow-up-long"></i></button>
  <section>
    <ul>
      {{#each allMessages}}
        <li>
          <article>
            <header>
              <img src="/images/{{avatar}}" alt="profielfoto" />
              <h3>{{user}}</h3>
              <p style="color: {{color}}">{{name}}</p>
              {{#if editable}}
                <i id="editable" class="fa-light fa-ellipsis-vertical"></i>
                <nav class="editable hidden">
                  <ul id="edit">
                    <li>
                      <i class="fa-regular fa-pencil"></i>
                      Bewerken
                    </li>
                    <li id="deletePost">
                      <i class="fa-regular fa-trash-can"></i>
                      Verwijderen
                    </li>
                  </ul>
                </nav>
                <dialog class="dialog">
                  <form method="POST" action="/postSettings">
                    <h2>Wil je dit bericht verwijderen?</h2>
                    <p>
                      Het verwijderen van een bericht kan niet ongedaan worden
                      gemaakt
                    </p>
                    <div>
                      <button
                        value="cancel"
                        formmethod="dialog"
                      >Annuleren</button>
                      <button name="delete" value={{_id}}>Verwijderen</button>
                    </div>
                  </form>
                </dialog>
              {{/if}}
            </header>
            <h2>{{title}}</h2>
            {{#if file}}
              <img src="/images/{{file}}" alt="img" width="200" height="200" />
            {{/if}}
            <p>{{message}}</p>
            {{#if reactions}}
              <a class="reactionCount" href="/reactions/{{_id}}">
                <p class="reactionCount">{{reactions.length}} reacties</p>
              </a>
            {{/if}}
            <footer>
              <label class="likes" for="">
                <i class="fa-regular fa-thumbs-up"></i>
                <p>3</p>
              </label>
              <a href="/reactions/{{_id}}">
                <label for="">
                  <i class="fa-regular fa-message"></i>
                  Reageer
                </label>
              </a>
            </footer>
          </article>
        </li>
      {{/each}}
    </ul>
    <a href="/post"><button class="newMessage">+</button></a>
  </section>
</main>