<header class="detailHeader">
  <a href="/prikbord">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <h1>Reacties</h1>
</header>
<section class="prikbord reaction">
  <article>
    <header>
      <img src="/images/{{message.avatar}}" alt="profielfoto" />
      <h3>{{message.user}}</h3>
    </header>
    <h2>{{message.title}}</h2>
    <p class="message">{{message.message}}</p>
    {{#if message.file}}
      <img src="/images/{{message.file}}" alt="img" width="200" height="200" />
    {{/if}}
    {{#if message.reactions}}
      <ul class="reactions">
        {{#each message.reactions}}
          <li>
            <img src="/images/{{avatar}}" alt="profielfoto" />
            <article>
              <h3>{{user}}</h3>
              <form class="updateForm" action="/update/{{@root.message._id}}" method="post" autocomplete="off">
                {{#if editable}}
                <input  class="hidden" name="reactionId" value={{reactionID}} autocomplete="off">
                <input type="text" disabled class="updateInput hidden" value="{{reaction}}" name="update" id="reaction"/>
                <p id="reactionP">{{reaction}}</p>
                <button class="updateButton hidden"><i class="fa-regular fa-paper-plane-top"></i></button>
                {{else}}
                <p>{{reaction}}</p>
                {{/if}}
              </form>

              {{#if editable}}
                <i id="editable" class="fa-light fa-ellipsis-vertical"></i>
                <nav class="editable hidden">
                  <ul id="edit">
                    <li id="editReaction">
                      <i class="fa-regular fa-pencil"></i>
                      Bewerken
                    </li>
                    <li id="deletePost">
                      <i class="fa-regular fa-trash-can"></i>
                      Verwijderen
                    </li>
                  </ul>
                </nav>
                <dialog class="dialog">
                  <form method="POST" action="/deleteReaction">
                    <h2>Wil je deze reactie verwijderen?</h2>
                    <p>
                      Het verwijderen van een reactie kan niet ongedaan worden
                      gemaakt
                    </p>
                    <div>
                      <button
                        value="cancel"
                        formmethod="dialog"
                      >Annuleren</button>
                      <button
                        name="delete"
                        value="{{../postID}}/{{reactionID}}"
                      >Verwijderen</button>
                    </div>
                  </form>
                </dialog>
              {{/if}}
            </article>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    <footer>
      <form class="reactionForm" action="/reactions/{{message._id}}" method="POST">
        <input type="text" name="reaction" placeholder="Plaats een reactie" id="reaction" autocomplete="off"/>
        <button><i class="fa-regular fa-paper-plane-top"></i></button>
      </form>
    </footer>
  </article>
</section>