<header class="detailHeader">
  <a href="/prikbord">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <h1>Bewerken</h1>
</header>
<main class="post">
  <section>
    <form
      class="postForm"
      action="/post/update/{{post._id}}"
      method="post"
      enctype="multipart/form-data"
      autocomplete="off"
    >
      <label for="title">Titel</label>
      <input
        type="text"
        value={{post.title}}
        id="title"
        name="title"
        required
        autocomplete="off"
      />
      <label for="message">Bericht</label>
      <textarea
        id="message"
        name="message"
        autocomplete="off"
        required
      >{{post.message}} </textarea>
      <label for="">Afbeelding</label>
      <fieldset id="imageField">
        <label class="upload" for="image">
          <i class="fa-regular fa-image"></i>
          <p>Upload</p>
        </label>
        {{#if post.file}}
          <img id="postImage" src="/images/{{post.file}}" alt="" />
        {{/if}}
        <input id="image" type="file" name="file" />
      </fieldset>
      <label for="group">Interesse groep</label>
      <select name="group" id="group">
        {{#each myGroups}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
      <input type="submit" value="Bericht updaten" />
    </form>
  </section>
</main>